<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- 不过滤以下资源-->
            <!--<mvc:exclude-mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/manage/login/**"/>-->
            <!--<mvc:exclude-mapping path="/css/**"/>-->
            <!--<mvc:exclude-mapping path="/js/**"/>-->
            <!--<mvc:exclude-mapping path="/img/**"/>-->
            <!--<mvc:exclude-mapping path="/assets/**"/>-->
            <!--测试用-->
            <!--<mvc:exclude-mapping path="/*"/>-->
            <bean class="com.mengyan.xin.web.interceptor.ParameterInterceptor">
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>
